

//forms

$input-font-size: 1.5rem;
$input-padding-y: 15px; 
$input-padding-x: 8px;
$input-bg: #edf2f7;
$input-focus-bg:#edf2f7;
$input-border-radius: 5px;
$input-border-color:  transparent;
$input-focus-border-color: #4f46e5;
$input-border-width: 1px;
$input-focus-bg: transparent;
$input-focus-box-shadow: transparent;