
// navbar

$nav-link-padding-y: 12px;              
$nav-link-padding-x: 8px;         
$nav-pills-border-radius: 10px;
$nav-pills-link-active-bg: #2c3344;

.nav .nav-link:hover {
    background-color: #2c3344;
    outline: none;
  }
  