// Pagination

$pagination-color: #212529;
$pagination-border-width: 0;
$pagination-hover-border-color: transparent;
$pagination-active-color: #473fce;
$pagination-hover-color: #473fce;
$pagination-active-bg: $gray-200;
$pagination-active-border-color: transparent;
$pagination-padding-y:  8px;
$pagination-padding-x: 8px;