// select

$form-select-padding-y: 15px;
$form-select-font-size:1.5rem;
$form-select-bg:#edf2f7;
$form-select-focus-box-shadow: none;
$form-select-box-shadow:none;
$form-select-border-color: transparent;
$form-select-focus-border-color:#4f46e5;
$form-select-indicator-color: white;