    
    <div class="container-fluid" style="background-color: #edf2f7;">
        <div class="row min-vh-100">
            <div class="col d-none d-sm-block col-sm-auto gx-0">
               <app-sidebar></app-sidebar>
            </div>
            <div class="col fs-3">
                <div class="row">
                    <div class="col-12 gx-0">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
