

    <div class="d-flex align-items-stretch min-vh-100"
         style="background-color: #f1f5f9;">
        <app-sidebar
            *ngIf="!menuActive"
            [@enterAnimation]>
        </app-sidebar>
        <!-- Add position absoluto to app sidebar en z-index also add collapse class -->
        <main class="w-100">
            <app-header (active)="menuActive = $event"></app-header>
            <div class="mx-3">
                <app-verbs></app-verbs>
                

            </div>
        </main>
    </div>