.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 1.5rem;
    border: 1px solid #94a3b8;
    width: 100%;
    max-width: 350px;
    min-width: 100px;
  
    &:focus-within {
      border-color: #4f46e5;
    }
  
    &__icon {
      margin: 0 0.5rem;
    }
  
    &__input {
      width: 100%;
      border: none;
      background: none;
      outline: none;
    }
  }
  