.header {
    position: sticky;
    top: 0;
    height: 80px;
}


.avatar {
    height: 50px;
    // margin-bottom: -15px;
    // margin-top: -15px;
    width: 50px;
}

.cursor {
    cursor: pointer;
}