@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";


// colors
$primary: $indigo;
$gray-900: #151515;


// typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Open Sans', sans-serif;
$font-weight-bold: 400;
$font-weight-bolder: 600;

@import "./components/pagination.scss";
@import "./components/table.scss";
@import "./components/forms.scss";
@import "./components/navbar.scss";
@import "./components/card.scss";
@import "./components/select.scss";
@import "./components/dropdown.scss";
@import "./components/buttons.scss";

$theme-colors: (
  "primary": $primary,
  "dark": $gray-900
);

html {
  font-size: 65.5%;

}

body {
  min-height: 100vh;
  
}

.main__wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  background-color: #f2f2f2;
}

main {
  grid-column: 2;
  overflow: auto;
  background-color: #f2f2f2;

}

.ls{
  letter-spacing: 1px;
}

// .bg {
//   background-color: #edf2f7;
// }

.icon {
  width: 30px;
  height: 30px;
}

.border {
  border: 2px solid #94a3b8;
  border-radius: 5px;
}


@import '../../node_modules/bootstrap/scss/bootstrap.scss';


// SWEET ALERT
.swal2-popup {
  font-size: 1.5rem !important;
}