@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";




// colors

$primary: $indigo;
$gray-900: #151515;


// typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Open Sans', sans-serif;
$font-weight-bold: 400;
$font-weight-bolder: 600;


//forms

$input-font-size: 1.5rem;
$input-padding-y: 15px; 
$input-padding-x: 8px;
$input-bg: #edf2f7;
$input-focus-bg:#edf2f7;
$input-border-radius: 5px;
$input-border-color:  transparent;
$input-focus-border-color: $indigo;
$input-border-width: 1px;
$input-focus-bg: none;
$input-focus-box-shadow: none;

// btns
// $btn-font-size: 1.5rem;
// $btn-padding-y: 15px;           
// $btn-padding-x: 8px;
// $btn-focus-box-shadow:none; 
// $btn-active-box-shadow:none;
// $btn-box-shadow: none;

// navbar

$nav-link-padding-y: 12px;              
$nav-link-padding-x: 8px;         
$nav-pills-border-radius: 10px;
$nav-pills-link-active-bg: #454545;

.nav .nav-link:hover {
  background-color: #454545;
} 

.custombtn {
  font-size: 1.5rem;
  color: white;
  background-color: $indigo;

  padding: 15px 8px;
  border: none;
  border-radius: 25px;

  &:hover {
    background-color: #8540f5;


  }
}



.loginImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

$theme-colors: (
  "primary": $primary,
  "dark": $gray-900
);



html {
  font-size: 65.5%;
  
}

.ls{
  letter-spacing: 1px;
}

.bg {
  background-color: #edf2f7;
}

.icon {
  width: 30px;
  height: 30px;
}
// .input {
//   padding: 8px 5px;
//   border-radius: 3px;
//   border: none;
// }


.icon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
  padding: 16px;
  background-color: transparent;
  border: none;

  cursor: pointer;

  &__bar {
    
  position: relative;

  width: 35px;
  height: 4px;
  
  border-radius: 2px;

  background-color: #151515;

    &:before, &:after {
        
        content: '';

        position: absolute;
        bottom: .6em;

        display: block; 
        width: 35px;
        height: 4px;

        background-color: #151515;
        border-radius: 2px;
        
        transition: transform .2s;
    } 

    &:after {
      top: 0.6em;
    }
  }   
}

.border-debug {
  border: 1px solid red;
}

.borderdebug {
  border: 1px solid blue;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


