     
     
     <div class="chart-wrapper bg-white rounded-2 shadow">
       <div class="d-flex justify-content-between my-3">
         <h3>Number of Register</h3>
         <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">1D</button>
          <button type="button" class="btn btn-primary">7D</button>
          <button type="button" class="btn btn-primary">1M</button>
          <button type="button" class="btn btn-primary">3M</button>
  
        </div>
       </div>
     
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType"
          [plugins]="barChartPlugins">
        </canvas>
      </div>