<div class="container-fluid row mb-4">
  <div class="col d-flex align-items-center">
    <h2 class="fw-bolder me-5  fs-1">Verbs</h2>
  </div>
</div>

<div class="px-4 mb-4">
  <div class="container-fluid bg-white shadow px-4 rounded-2">
  
    <div class="row">
      <div class="col d-flex align-items-center mt-4 flex-wrap">

        <div 
          class="d-flex align-items-center flex-wrap order-1 w-100 justify-content-between order-lg-0"
          style="max-width: 580px;">

         <app-searchbar
           class="componentW"
           (submitted)="onSearch($event)"
           [borderR]="'3px'"></app-searchbar>
          
           <!-- ======================= -->
                  <!-- SELECT -->
          <!-- ======================= -->
         <div class="d-flex align-items-center componentW">
            <label for="filter" class="fs-4 ls fw-bolder me-2" style="width: 115px;">Filter By:</label>
            <select
              id="filter"
              class="form-select fs-4 form-selectC"
              
              #selectFilter
              (change)="filterBy(selectFilter.value)">
              <option value="" selected>Choose...</option>

              <ng-container *ngFor="let filter of filters">
                
                <option
                *ngIf="filter.type !== 'all'"
                  [value]="filter.type">
                  {{ filter.desc }}
                </option>
              </ng-container>

            </select>
         </div>
           <!-- ======================= -->
                  <!-- SELECT -->
          <!-- ======================= -->

        </div>

        <div
        class="d-flex align-items-center justify-content-lg-end flex-wrap  w-100  ms-lg-auto"
        style="max-width: 350px;">
          <button
          class="custombtn custombtn--add fw-bolder d-flex align-items-center fs-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          name="add new verb"
          #openModal>
          <img
            src="/assets/icons/add.svg"
            alt="add"
            style="padding-right: 15px"/>
            Add 
        </button>

          <!-- ======================= -->
                  <!-- DROPDOWN -->
          <!-- ======================= -->
        <div class="dropdown ms-3">
          <button
            class="btnicon btnfilter fs-4 fw-bolder"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Export
          </button>
          <ul class="dropdown-menu fs-5" aria-labelledby="dropdownMenuButton1">
            <ng-container
              *ngFor="let filter of filters">
              <li
                (click)="getReport( filter.type, filter.field )"
                class="dropdown-item fs-4"
                style="cursor: pointer;">
                {{ filter.desc }}
              </li>
            </ng-container>
            
            
          </ul>
        </div>
          <!-- ======================= -->
                  <!-- DROPDOWN -->
          <!-- ======================= -->
        </div>

     
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <div
          class="card shadow overflow-hidden position-static mb-5"
          style="border-radius: 5px">

          <!-- ======================= -->
                  <!-- TABLE -->
          <!-- ======================= -->

          <table class="table table-striped">
            <thead
              class="text-center text-white fs-4"
              style="background-color: #0f172a">
              <tr>
                <th >Base Verb</th>
                <th class="d-none d-md-table-cell" >
                  Simple Past
                </th>
                <th class="d-none d-md-table-cell" >
                  Past Participe
                </th>
                <th class="d-none d-md-table-cell" >
                 Type
                </th>
                <th >Actions</th>
              </tr>
            </thead>
            <tbody class="text-center fs-4">
              <ng-container
                  *ngFor="let verb of verbs$ | async; trackBy: trackByFn" >
                <tr>
                  <td>{{ verb.baseForm }}</td>
                  <td class="d-none d-md-table-cell">{{ verb.pastSimple }}</td>
                  <td class="d-none d-md-table-cell">{{ verb.pastParticiple }}</td>
                  <td class="d-none d-md-table-cell">{{ verb.type }}</td>
  
                  <td class="d-flex justify-content-center align-items-center">
                    <button class="me-3 btnicon"
                      (click)="selectVerb( verb )">
                      <img src="/assets/icons/edit.svg" alt="edit" />
                    </button>
  
                    <button class="btnicon"
                      (click)="deleteVerb( verb._id )">
                      <img src="/assets/icons/delete.svg" alt="delete" />
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

              <!-- ======================= -->
                  <!-- TABLE -->
          <!-- ======================= -->
        </div>
  
      </div>
    </div>
  </div>
</div>


<!--===============================================-->
                <!-- MODAL -->
<!--===============================================-->

<div
  class="modal fade"
  id="exampleModal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4 fw-bolder" id="exampleModalLabel">
          Add Verb
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebtn
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="col px-4"
          [formGroup]="verbForm"
          (ngSubmit)="addVerb()">
          <div class="row mb-3">
            <div class="col">
              <label for="verb" class="form-label fs-4 ls fw-bolder"
                >Verb</label
              >
              <input
                type="text"
                [ngClass]="{ 'is-invalid': invalidField('baseForm')}"
                class="form-control"
                id="verb"
                placeholder="verb"
                formControlName="baseForm"
              />
            </div>
            <div class="col-5">
              <label for="type" class="form-label fs-4 ls fw-bolder"
                >Type</label
              >
              <select
                id="type"
                [ngClass]="{ 'is-invalid': invalidField('type') }"
                class="form-select"
                formControlName="type">
                <option value="" selected>Choose...</option>
                <ng-container *ngFor="let t of type">
                  
                  <option [value]="t">{{ t }}</option>

                </ng-container>
                
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">
              Simple Past
            </label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': invalidField('pastSimple') }"
              class="form-control"
              id="past"
              placeholder="verb in simple past"
              formControlName="pastSimple"
            />
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">
              Past Participle
            </label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': invalidField('pastParticiple')}"
              class="form-control"
              id="past"
              placeholder="verb in past participle"
              formControlName="pastParticiple"/>
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">N-I-K</label>
            <select
              id="type"
              [ngClass]="{ 'is-invalid': invalidField('nik') }"
              class="form-select"
              formControlName="nik">
              <option value="" selected>Choose...</option>
              <ng-container *ngFor="let n of nik">
                
                <option [value]="n.type">{{ n.desc }}</option>

              </ng-container>
            </select>
          </div>
          
          <div class="modal-footer">
            <button
              type="button"
              class="custombtn-close fw-bolder fs-4"
              data-bs-dismiss="modal"
              (click)="close()">
              Close
            </button>
            <button
              type="submit"
              class="custombtn custombtn--add fw-bolder d-flex align-items-center fs-4">
              <img
                src="/assets/icons/add.svg"
                alt="add"
                style="padding-right: 15px"
              />
              Save
            </button>
          </div>
        </form>
        
     
    </div>
  </div>
</div>
</div>

