<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center">
            <h2 class="fw-bolder me-5 mt-4" style="font-size: 4rem;">Verbs</h2>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center mt-4">
            <div class="d-flex align-items-center me-3">
                <div class="searchbar  ">
                    <input type="search" class="searchbar__input fs-4" placeholder="Search verbs...">
                    <img src="/assets/icons/search.svg" alt="" class="searchbar__icon">
                </div>
                <div class="dropdown ms-3">
                    <button class="btnicon btnfilter fs-4 fw-bolder" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/icons/filter.svg" alt="filter">
                      Filter
                    </button>
                    <ul class="dropdown-menu fs-4" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <button class="custombtn custombtn--add fw-bolder d-flex align-items-center  ms-auto">
                <img src="/assets/icons/add.svg" alt="add" style="padding-right: 15px;">
                Add 
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card shadow overflow-hidden position-static" style="border-radius: 5px ;">

                <table class="table table-striped ">
                    <thead class="text-center text-white fs-4" style="background-color: #0f172a;">
                        <tr>
                            <th style="width:25%;">Base Verb</th>
                            <th class="d-none d-md-table-cell" style="width:25%">Simple Past</th>
                            <th class="d-none d-md-table-cell" style="width:25%">Past Participe</th>
                            <th style="width:25%">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-center fs-4">
                        <tr>
                            <td>Ashley Briggs</td>
                            <td class="d-none d-md-table-cell">864-348-0485</td>
                            <td class="d-none d-md-table-cell">June 21, 1961</td>
                            <td class="d-flex justify-content-center align-items-center">
                                <button class="me-3 btnicon">
                                    <img src="/assets/icons/edit.svg" alt="edit">
                                </button>

                                <button class="btnicon">
                                    <img src="/assets/icons/delete.svg" alt="delete">
                                </button>


                            </td>
                        </tr>
                        <tr>
                            <td>Ashley Briggs</td>
                            <td class="d-none d-md-table-cell">864-348-0485</td>
                            <td class="d-none d-md-table-cell">June 21, 1961</td>
                            <td class="d-flex justify-content-center align-items-center">
                                <button class="me-3 btnicon">
                                    <img src="/assets/icons/edit.svg" alt="edit">
                                </button>

                                <button class="btnicon">
                                    <img src="/assets/icons/delete.svg" alt="delete">
                                </button>


                            </td>
                        </tr>
                        <tr>
                            <td>Ashley Briggs</td>
                            <td class="d-none d-md-table-cell">864-348-0485</td>
                            <td class="d-none d-md-table-cell">June 21, 1961</td>
                            <td class="d-flex justify-content-center align-items-center">
                                <button class="me-3 btnicon">
                                    <img src="/assets/icons/edit.svg" alt="edit">
                                </button>

                                <button class="btnicon">
                                    <img src="/assets/icons/delete.svg" alt="delete">
                                </button>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <table class="table">
                <thead style="background-color: #edf2f7;" class="text-center">
                  <tr style="color: #64748b;">
                    <th scope="col">Base Verb</th>
                    <th scope="col">Simple Past</th>
                    <th scope="col">Past Participe</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                 
                </tbody>
              </table> -->
        </div>
    </div>
</div>
