<div class="container-fluid">
  <div class="row">
    <div class="col d-flex align-items-center">
      <h2 class="fw-bolder me-5 mt-4" style="font-size: 4rem">Verbs</h2>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-center mt-4">
      <div class="d-flex align-items-center me-3">
        <div class="searchbar">
          <input
            type="search"
            class="searchbar__input fs-4"
            placeholder="Search verbs..."
          />
          <img src="/assets/icons/search.svg" alt="" class="searchbar__icon" />
        </div>
        <div class="dropdown ms-3">
          <button
            class="btnicon btnfilter fs-4 fw-bolder"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="/assets/icons/filter.svg" alt="filter" />
            Filter
          </button>
          <ul class="dropdown-menu fs-4" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <button
        class="custombtn custombtn--add fw-bolder d-flex align-items-center ms-auto"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <img
          src="/assets/icons/add.svg"
          alt="add"
          style="padding-right: 15px"
        />
        Add
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div
        class="card shadow overflow-hidden position-static"
        style="border-radius: 5px"
      >
        <table class="table table-striped">
          <thead
            class="text-center text-white fs-4"
            style="background-color: #0f172a"
          >
            <tr>
              <th style="width: 25%">Base Verb</th>
              <th class="d-none d-md-table-cell" style="width: 25%">
                Simple Past
              </th>
              <th class="d-none d-md-table-cell" style="width: 25%">
                Past Participe
              </th>
              <th style="width: 25%">Actions</th>
            </tr>
          </thead>
          <tbody class="text-center fs-4">
            <ng-container
                *ngFor="let verb of verbs$ | async; trackBy: trackByFn" >
              <tr>
                <td>{{ verb.baseForm }}</td>
                <td class="d-none d-md-table-cell">{{ verb.pastSimple }}</td>
                <td class="d-none d-md-table-cell">{{ verb.pastParticiple }}</td>
                <td class="d-flex justify-content-center align-items-center">
                  <button class="me-3 btnicon">
                    <img src="/assets/icons/edit.svg" alt="edit" />
                  </button>

                  <button class="btnicon">
                    <img src="/assets/icons/delete.svg" alt="delete" />
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- <table class="table">
                <thead style="background-color: #edf2f7;" class="text-center">
                  <tr style="color: #64748b;">
                    <th scope="col">Base Verb</th>
                    <th scope="col">Simple Past</th>
                    <th scope="col">Past Participe</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                 
                </tbody>
              </table> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4 fw-bolder" id="exampleModalLabel">
          Add Verb
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebtn
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="col px-4"
          [formGroup]="verbForm"
          (ngSubmit)="addVerb()">
          <div class="row mb-3">
            <div class="col">
              <label for="verb" class="form-label fs-4 ls fw-bolder"
                >Verb</label
              >
              <input
                type="text"
                [ngClass]="{ 'is-invalid': invalidField('baseForm')}"
                class="form-control"
                id="verb"
                placeholder="verb"
                formControlName="baseForm"
              />
            </div>
            <div class="col-5">
              <label for="type" class="form-label fs-4 ls fw-bolder"
                >Type</label
              >
              <select
                id="type"
                [ngClass]="{ 'is-invalid': invalidField('type') }"
                class="form-select"
                formControlName="type">
                <option value="" selected>Choose...</option>
                <ng-container *ngFor="let t of type">
                  
                  <option [value]="t">{{ t }}</option>

                </ng-container>
                
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">
              Simple Past
            </label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': invalidField('pastSimple') }"
              class="form-control"
              id="past"
              placeholder="verb in simple past"
              formControlName="pastSimple"
            />
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">
              Past Participle
            </label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': invalidField('pastParticiple')}"
              class="form-control"
              id="past"
              placeholder="verb in past participle"
              formControlName="pastParticiple"/>
          </div>
          <div class="mb-3">
            <label for="past" class="form-label fs-4 ls fw-bolder">N-I-K</label>
            <select
              id="type"
              [ngClass]="{ 'is-invalid': invalidField('nik') }"
              class="form-select"
              formControlName="nik">
              <option value="" selected>Choose...</option>
              <ng-container *ngFor="let n of nik">
                
                <option [value]="n.type">{{ n.desc }}</option>

              </ng-container>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="custombtn-close fw-bolder fs-4"
              data-bs-dismiss="modal"
              (click)="close()">
              Close
            </button>
            <button
              type="submit"
              class="custombtn custombtn--add fw-bolder d-flex align-items-center">
              <img
                src="/assets/icons/add.svg"
                alt="add"
                style="padding-right: 15px"
              />
              Save
            </button>
          </div>
        </form>
        
     
    </div>
  </div>
</div>
</div>
<!-- <h3> Status </h3>
<pre>
  baseForm: {{ verbForm.get('baseForm')?.status }}
  pastSimple: {{ verbForm.get('pastSimple')?.status }}
  pastParticiple: {{ verbForm.get('pastParticiple')?.status }}
  type: {{ verbForm.get('type')?.status }}
  nik: {{ verbForm.get('nik')?.status }}
  FORM: {{ verbForm.status }}
</pre>

<h3> Values </h3>
<pre>
  baseForm: {{ verbForm.get('baseForm')?.value }}
  pastSimple: {{ verbForm.get('pastSimple')?.value }}
  pastParticiple: {{ verbForm.get('pastParticiple')?.value }}
  type: {{ verbForm.get('type')?.value }}
  nik: {{ verbForm.get('nik')?.value }}
  
</pre> -->
