
.card-wrapper {
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
}

.chart-wrapper {
    width: 100%;
    max-width: 660px;
    margin-inline: auto;
}

.wrapper {
    width: 100%;
    max-width: 1224px;
    margin-inline: auto;
    padding: 1rem;
}